body {
  background-color: gainsboro;
}

h1 {
  text-align: center;
  margin-top: 10%;
  font-size: 80px;
  font-weight: bold;
}

.container {
  text-align: center;
}

h4, footer {
  text-align: center;
  font-weight: bold;
}

p {
  text-align: center;
}

/* .form {
  text-align: center;
} */

.form-control {
  width: 30%;
  margin-left: 35.5%;
}

.menu-sair {
  text-align: center;
  margin-top: 5%;
}